<div class="container-fluid" >
    <div class="row" id="barra-principal" style="padding-top: 2%;">        
      <div class="col-2" style="color: white;  display: inline-block;" >
        <h4 style="display: inline;">Editor</h4>   
      </div>
    <div class="col-8">
      <div class="btn-group" id="botonera" role="group" aria-label="Basic example" >
        <button type="button" class="btn btn-secondary" (click)="c3d()">
          
          <img src="../../assets/terminal.png" alt="" srcset="">

        </button>
        <button type="button" class="btn btn-secondary">
          
          <img src="../../assets/translate.png" alt="" srcset="">
          
        </button>
        <button type="button" class="btn btn-secondary">
          
          <img src="../../assets/ast.png" alt="" srcset="">
          
        </button>
        <button type="button" class="btn btn-secondary" (click)="limpiar()">
          Limpiar          
        </button>        
      </div> 
    </div>      
      <div class="col-2" style="color: white; text-align: right;">
        <h4>C3D</h4>    
      </div>
    </div>      


    <div class="editor-container">        
          <div class="input_editor" #inputEditor ></div> 
          <div class="consola" #consola ></div>
    </div>

  <div class="row" style="padding-top: 2%; margin-top: 500px; color: white;">          
      <div class="col-12">
        <h4>Tabla de Simbolos</h4>    
      </div>
    </div>


    <div class="row" style="padding-top: 2%; color: white;">        

      <div class="col-12 table-responsive overflow-auto" style="height: 300px !important;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Variable</th>
              <th scope="col">Tipo</th>
              <th scope="col">Entorno</th>
            </tr>
          </thead>
          <tbody *ngFor="let smb of tablaSimbolos">
            <tr>
              <td>{{ smb.id }}</td>
              <td>{{ smb.tipoReporte }}</td>
              <td>{{ smb.idEntorno }}</td>              
            </tr>            
          </tbody>
        </table>
      </div>    
    </div>


    <div class="row" style="padding-top: 2%; color: white;">        
      <div class="col-12 ">
        <h4>Reporte de Errores</h4>    
      </div>
    </div>      

    <div class="row" style="padding-top: 2%; color: white;">
      <div class="col-12 table-responsive overflow-auto" style="height: 300px !important; ">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="width: 80%;">Mensaje</th>
              <th scope="col">Linea</th>
              <th scope="col">Columna</th>
            </tr>
          </thead>
          <tbody *ngFor="let error of salidaErrores">
            <tr>
              <td>{{ error.tipo }} : {{ error.mensaje }}</td>
              <td>{{ error.linea }}</td>
              <td>{{ error.columna }}</td>              
            </tr>
          </tbody>
        </table>
      </div>    
    </div>
    <div class="row" style="padding-top: 2%; color: white;">        
      <div class="col-12 " >
        <h4>AST</h4>    
      </div>
    </div>      
    <div class="row">
      <div #network style="max-height: 500px; width: 100%;" ></div>
    </div>  
  </div>
