<div class="container-fluid" style="padding-top: 5%;">
    <div class="row">
      <div class="col">
        <div class="dropdown" >
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acciones
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" type="button" (click)="traducir()">Traducir</button>
            <button class="dropdown-item" type="button" (click)="ejecutar()">Ejecutar</button>
            <button class="dropdown-item" type="button" (click)="generarAst()">Generar AST</button>
            <button class="dropdown-item" type="button" (click)="limpiar()">Limpiar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 2%;">        
      <div class="col-6 " >
        <h4>Editor</h4>    
      </div>
      <div class="col-6 ">
        <h4>Output</h4>    
      </div>
    </div>      


    <div class="row" style="padding-top: 2%;">        
      <div class="col-6 " style="height: 300px;">
        <div class="input_editor" #inputEditor style="height: 100%; width: 100%;"></div>
      </div>
      <div class="col-6 ">
        <div class="consola" #consola style="height: 100%; width: 100%;"></div>
      </div>
    </div>

    <div class="row" style="padding-top: 2%;">        
      <div class="col-6 ">
        <h5 >Salida Traduccion</h5>          
      </div>
      <div class="col-6 ">
        <h4>Tabla de Simbolos</h4>    
      </div>
    </div>


    <div class="row" style="padding-top: 2%;">        
      <div class="col-6 " style="height: 300px;">
        <div class="output_editor" #outputEditor style="height: 100%; width: 100%;"></div>
      </div>
      <div class="col-6 table-responsive overflow-auto" style="height: 300px !important;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Variable</th>
              <th scope="col">Tipo</th>
              <th scope="col">Entorno</th>
            </tr>
          </thead>
          <tbody *ngFor="let smb of tablaSimbolos">
            <tr>
              <td>{{ smb.id }}</td>
              <td>{{ smb.tipo }}</td>
              <td>{{ smb.idEntorno }}</td>              
            </tr>            
          </tbody>
        </table>
      </div>    
    </div>


    <div class="row" style="padding-top: 2%;">        
      <div class="col-12 " >
        <h4>Reporte de Errores</h4>    
      </div>
    </div>      

    <div class="row" style="padding-top: 2%;">
      <div class="col-12 " style="height: 300px;">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="width: 80%;">Mensaje</th>
              <th scope="col">Linea</th>
              <th scope="col">Columna</th>
            </tr>
          </thead>
          <tbody *ngFor="let error of salidaErrores">
            <tr>
              <td>{{ error.tipo }} : {{ error.mensaje }}</td>
              <td>{{ error.linea }}</td>
              <td>{{ error.columna }}</td>              
            </tr>
          </tbody>
        </table>
      </div>    
    </div>
  </div>
